html,
body {
  height: 100%;
  width: 100%;
}

/* start development styles */
body {
  @apply text-gray-400;
}

div {
  outline: 2px solid rgba(255, 0, 0, .125);
}
/* end development styles */

/* start breakpoint indicators */
body {
  @apply bg-red-100;
  @media screen and (min-width: 640px) { @apply bg-yellow-100; }
  @media screen and (min-width: 768px) { @apply bg-green-100; }
  @media screen and (min-width: 1024px) { @apply bg-blue-100; }
  @media screen and (min-width: 1280px) { @apply bg-gray-100; }
  @media screen and (min-width: 1536px) { @apply bg-purple-100; }
}
/* end breakpoint indicators */
