/* start mobile first */
.header {
  height: min(10vw, 3rem);
}

.mobile-header {
  @apply sm:hidden;
}

.body {
  @apply flex-grow flex flex-col;
}

.main {
  @apply flex-grow flex flex-col justify-start;
}

.league-info,
.info-aside,
.info-panel {
  @apply hidden;
  margin: 2vw;
}

.leader {
  @apply hidden flex flex-row justify-between;
  margin: 2vw;
}

.leader-info {
  height: 15vw;
  overflow: auto;
}

.team {
  @apply flex flex-col justify-between;
}

.sync-pair {
  @apply flex flex-row justify-between bg-gray-300;
  margin: 2vw;
  overflow: auto;
}

.parameters {
  @apply flex items-center;
  height: 10vw;
}

.mobile-footer {
  @apply sm:hidden;
}

.control-bar {
  height: 15vw;
  overflow: auto;
}
/* end mobile first */

/* start tablet and larger */
@media screen and (min-width: 640px) {
  .league-info,
  .info-panel {
    @apply flex;
  }

  .leader {
    @apply flex;
  }

  .team {
    @apply flex-row;
  }
}
/* end tablet and larger */

/* start desktop */
@media screen and (min-width: 1280px) {
  .body {
    @apply flex-row;
  }

  .info-aside {
    @apply flex;
  }

  .info-panel {
    @apply hidden;
  }
}
/* end desktop */

